---
import Layout from '../../layouts/Layout.astro';
export const prerender = false;

const { slug } = Astro.params;
const response = await fetch(`https://blog.siblanco.dev/wp-json/wp/v2/posts?slug=${slug}`);
const json = await response.json();
const post = json[0];
---

<Layout title={slug!}>
	<main class="text-white h-svh w-full flex flex-col items-center justify-center space-y-4">
    <h1 class="text-5xl">{post.title.rendered}</h1>
    <p class="text-lg" set:html={post.excerpt.rendered}></p>
    <a class="text-teal-500" href="/">Back</a>
	</main>
</Layout>
