---
import Layout from '../layouts/Layout.astro';
export const prerender = false;
---

<Layout title="Landing page">
	<main class="text-white h-svh w-full flex flex-col items-center justify-center">
    <h1 class="text-5xl mb-12">Sib</h1>
    <h2 class="text-3xl">Blog posts</h2>
    <ul class="my-4">
      <li>
        <a class="text-teal-500" href="/blog/einmal-bitte-180-grad">Einmal bitte 180 Grad</a>
      </li>
      <li>
        <a class="text-teal-500" href="/blog/xset-r-ohne-gehts-nicht/">xset r ohne gehts nicht</a>
      </li>
    </ul>
    <h2 class="text-3xl pt-8">On runtime fetching</h2>
    <ul class="my-4">
      <li>
        <a class="text-teal-500" href="/runtime">Runtime</a>
      </li>
    </ul>
	</main>
</Layout>
