---
import Layout from "../layouts/Layout.astro";
export const prerender = false;

const response = await fetch(`https://blog.siblanco.dev/wp-json/wp/v2/posts`);
const posts = await response.json();
---

<Layout title="Fetching on runtime">
  <main
    class="text-white h-svh w-full flex flex-col items-center justify-center"
  >
    <h1 class="text-5xl mb-8">Choose a post to see its excerpt</h1>
    <select name="slug" class="text-black max-w-sm p-2">
      <option disabled selected>Choose a title</option>
      {
        posts.map((post: any) => (
          <option value={post.slug}>{post.title.rendered}</option>
        ))
      }
    </select>
    <div data-result class="hidden text-center">
      <h2 class="text-3xl pt-8">Excerpt:</h2>
      <p class="mt-12 text-lg"></p>
      <a
        href=""
        target="_blank"
        rel="noopener"
        class="text-teal-500 inline-block mt-8 border border-teal-500 hover:bg-teal-500 hover:text-white p-2"
        >Read more</a
      >
    </div>
  </main>
</Layout>

<script>
  const fetchPostExcerpt = async (slug: string) => {
    const response = await fetch(
      `https://blog.siblanco.dev/wp-json/wp/v2/posts?slug=${slug}`,
    );
    const json = await response.json();
    return json[0].excerpt.rendered;
  };

  const resultEl: HTMLDivElement = document.querySelector("[data-result]")!;

  const showResult = (excerpt: string, slug: string) => {
    (resultEl.querySelector("p") as HTMLParagraphElement).innerHTML = excerpt;
    (resultEl.querySelector("a") as HTMLAnchorElement).href =
      `https://siblanco.dev/blog/${slug}`;
    resultEl.classList.remove("hidden");
  };

  const slugSelector = document.querySelector('[name="slug"]')!;
  slugSelector.addEventListener("change", async (e) => {
    const select = e.currentTarget as HTMLSelectElement;
    const excerpt = await fetchPostExcerpt(select.value);
    showResult(excerpt, select.value);
  });
</script>
